.btn.btn-success {
    background-color: rgb(55, 144, 144) !important;
    border-color: rgb(55, 144, 144) !important;
}/*Investigué en chat y tengo que ponerle esto para poder cmabiar de color el boton porque bootstrap tiene prioridad*/
.color {
    color:rgb(55, 144, 144);
}

/*funcionó con clases y no metiendome desde el div y luego boton*/
.botones {
   background-color: transparent;
    border:none; 
}

#divdeprueba {
    background-color: rgb(233, 233, 233); 
    padding: 8px;
    border-radius: 8px;
    width:200px;
    
}


#divdeprueba i {
    transition: color 1s ease-in-out;
}

#divdeprueba i:hover {
    color: #009688;
}