.btn.btn-success {
    background-color: rgb(55, 144, 144) !important;
    border-color: rgb(55, 144, 144) !important;
}/*Investigué en chat y tengo que ponerle esto para poder cmabiar de color el boton porque bootstrap tiene prioridad*/
.color {
    color:rgb(55, 144, 144);
}
input[readonly] {
  background-color: #e9ecef; /* mismo gris que usa Bootstrap */
  cursor: not-allowed;
}
