
body {
    background-image: url('/static/img/FondoListar.png'); /* Cambia la ruta */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    font-family: 'Segoe UI', sans-serif;
}
.content {
    background: rgba(255, 255, 255, 0.92);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
    width: 90%;
    max-width: 1000px;
    text-align: center;
    
}
h1 {
    font-weight: bold;
    color: #2b2b2b;
    margin-bottom: 25px;
}
table {
    background-color: white;
    border-radius: 12px;
    overflow: hidden;
}
th {
    background-color: #007bff;
    color: white;
    text-align: center;
}
td {
    vertical-align: middle;
    text-align: center;
}
.estatus {
    font-weight: bold;
    border-radius: 10px;
    padding: 5px 12px;
    display: inline-block;
}

.estatus.pendiente {
    background-color: #fff3cd; 
    color: #856404; 
    border: 1px solid #ffeeba;
}

.estatus.realizada {
    background-color: #d4edda; 
    color: #155724; 
    border: 1px solid #c3e6cb;
}
.estatus.cancelada {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.btn {
    border-radius: 10px;
    padding: 5px 10px;
}
.btn-primary {
    background-color: #007bff;
    border: none;
}
.btn-outline-danger {
    float: right;
    border-radius: 10px;
}
.estatus {
    font-weight: bold;
    color: #856404;
    background-color: #fff3cd;
    border-radius: 10px;
    padding: 5px 10px;
}
.footer {
    margin-top: 20px;
    font-size: 15px;
}

#divdeprueba button {
    background-color: transparent;
    border:none;
    
}

#divdeprueba i {
    transition: color 1s ease-in-out;
}

#divdeprueba i:hover {
    color: #009688;
}